<p class = title>About</p>
<p class = content>Quest Board is a place for anyone to post and accept quests in different catagories. Here you can make a request form anyone within an appropriate guild, and get things done. Have a dragon that is terrorizing your village? Now you can make a request of a warrior guild to have it killed!</p>

