<script type='text/javascript' src='/post.js' defer></script>
<div>
	<p>Login or Sign up here!</p>
	<form>
		<p>Username:</p>
		<textarea placeholder="Username" rows="1" id="ftitle"></textarea>
		<p>Password:</p>
		<textarea placeholder="Password" rows="1" id="ftext"></textarea>
	</form>
	<button type="submit" id="fbutton">Login</button>
</div>
