<script type='text/javascript' src='/post.js' defer></script>
<div style="margin: auto; text-align: center;">
	<h2>Login or Sign up here!</h2>
		<form>
			<h3>Username:</h3>
			<input placeholder="Username" id="ftitle" type="text"></textarea>
			<h3>Password:</h3>
			<input placeholder="Password" id="ftext" type="text"></textarea>
			<div>
				<button type="submit" id="fbutton">Login/Signup</button>
			</div>
		</form>
		<div>
			<h2>Logout!</h2>
			<button type="submit" id="flogout">Logout</button>
		</div>
</div>

