<script type='text/javascript' src='/post.js' defer></script>
<div style="margin: auto; text-align: center;">
	<h2>Login or Sign up here!</h2>
	<form>
		<h3>Username:</h3>
		<input placeholder="Username" id="ftitle" type="text"></textarea>
		<h3>Password:</h3>
		<input placeholder="Password" id="ftext" type="text"></textarea>
		<div><button type="submit" id="fbutton">Login</button></div>
	</form>
</div>
