<h1>Guilds</h1>
  <table id ="t01" border="1" style="margin: auto;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {{#if Guilds.length}}
        {{#each Guilds}}
          <tr >
            <td>{{Name}}</td>
            <td>{{Type}}</td>
          </tr>
        {{/each}}
      {{else}}
        <h1 style="text-align: center;">ur mum gay</h1>
      {{/if}}
    </tbody>
</table>
