<script type='text/javascript' src='/logout.js' defer></script>
<div style="margin: auto; text-align: center;">
	<h2>Account!</h2>
	<div>
		<button type="submit" id="flogout">Logout!</button>
	</div>
</div>
