<div style="margin: auto; text-align: center;">
	<h2>You need to be logged in to view this page!</h2>
	<script type='text/javascript' src='/login.js' defer></script>
	<div style="margin: auto; text-align: center;">
		<h2>Login or signup here!</h2>
		<form>
			<h3>Username:<input placeholder="Username" id="ftitle" type="text"></textarea></h3>
			
			<h3>Password:<input placeholder="Password" id="ftext" type="text"></textarea></h3>
			<div>
				<button type="submit" id="fbutton">Login/Signup</button>
			</div>
		</form>
	</div>
</div>
