html body {
	margin: 0;
	padding: 0;
	background: #ffffff no-repeat fixed center;
	background-size: cover;
}

a {
	text-decoration: none;	
}

.navbar{
	width: 100%;
	background-color: #d2dcdc;
}

.navbar a{
	float: left;
	padding: 12px;
	width: 25%;
	text-align: center;
	width: 106px;
	color: darkslategray;
}

ul.navlist {
	text-align: center;
}

.item { 
	display: inline-block;
}

.item:hover{
	text-shadow: 2px 1px 6px #92b3b3;
}

.navbar{
	font-size: 30px;
}

h1 {
	color: darkslategrey;
	text-align: center;
	font-size: 60px;
}

h1:hover {
	text-shadow: 2px 1px 5px #75afaf;
}
