html body {
	margin:0;
	background: #ffffff no-repeat fixed center;
	background-size: cover;
}

a {
	text-decoration: none;	
}

ul.navlist {
	list-style-type: none;
}

.item { 
	display: inline-block;
}

h1 {
	color: darkslategrey;
	text-align: center;
	font-size: 60px;
}

h1:hover {
	text-shadow: 2px 1px 5px #75afaf;
}
